:root {
  --verydarkblue: #100e1d;
  --darkblue: #1e213a;
  --blue: #3c47e9;
  --gray1: #6e707a;
  --gray2: #a09fb1;
  --lightgray: #e7e7eb;
  --yellow: #ffec65;
}
body {
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--verydarkblue);
  color: var(--lightgray);
}

